.wrapper {
  background-color: #1f1f1f;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  box-sizing: border-box;
  justify-content: center;
  top: 0;
}

.ownerInfoContainer {
  border-radius: 40px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-bottom: 30px;
  width: 100%;
  height: auto;
  background-color: #20a5a2;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.firstNameTag,
.lastNameTag {
  font-size: x-large;
}

.petTypeFieldset {
  position: relative;
  text-align: center;
}

.dogRadioButton,
.catRadioButton {
  font-size: large;
  font-weight: 500;
}

input[type="radio"] {
  transform: scale(1.5);
}

.submitButton {
  width: 100%;
  height: 10vh;
  border-radius: 30px;
}

/* @media screen and (max-width: 281px) {
  .wrapper {
    background-color: #ff0000;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    box-sizing: border-box;
    justify-content: center;
    top: 0;
  }

  .ownerInfoFirstNameFormControl,
  .ownerInfoLastNameFormControl {
    width: 150px;
    display: flex;
    flex-direction: column;
  }
} */
