.headerWrapper {
  background-color: black;
  width: 100%;
}

.headerContainer {
  width: 100%;
}

.headerRow {
  width: 100%;
}

#headerMVCLogoCol {
  text-align: start;
}

.headerMVCLogo {
  height: 60px;
  width: auto;
  margin: 0 0 0 45px;
}

#nestedRow {
  display: flex;
  justify-content: space-around;
}

#headerMVCPhoneNumber,
#headerMVCLocationInfo,
#headerMVCContactInfo,
#headerMVCMenu {
  margin: 15px 0 0 0;
  color: #20a5a2;
  text-align: center;
}

.menuBarIcon {}

.bar1,
.bar2,
.bar3 {}
