.SiteWrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  box-sizing: border-box;
  justify-content: center;
  top: 0;
}

/* HEADER */
.headerWrapper {
  background-color: black;
  width: 100%;
  /* position: fixed; */
  position: sticky;
  top: 0;
}

.headerContainer {
  width: 100%;
}

.headerRow {
  width: 100%;
}

#headerMVCLogoCol {
  text-align: start;
}

.headerMVCLogo {
  height: 60px;
  width: auto;
  margin: 0 0 0 45px;
  cursor: pointer;
}

#nestedRow {
  display: flex;
  justify-content: space-around;
}

#headerMVCPhoneNumber,
#headerMVCLocationInfo,
#headerMVCContactInfo {
  margin: 15px 0 0 0;
  color: #20a5a2;
  text-align: center;
  cursor: pointer;
}

#headerMVCMenu {
  margin: 15px 0 0 0;
  color: #20a5a2;
  text-align: start;
}

#menuBarIcon {
  text-align: end;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 20px;
  height: 1px;
  background-color: #20a5a2;
  margin: 6px 0;
}

.headerh5Menu {
  margin: 0 10px 0 -15px;
  cursor: pointer;
}
/* HEADER */

/* MAIN CONTENT */
.videoWrapper {
  object-fit: contain;
  text-align: center;
  justify-content: center;
  width: 98.92%;
  height: auto;
}

.MVCVideo {
  height: 100%;
  width: 100%;
}
